body{
    background-color: rgb(233, 233, 233);
    width: 100%;
}
header{
    height: auto;

}

section{
    height: 60vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

li{
    width: 6em;
} 

li:hover{
 background-color: grey;
}

form {
    margin-top: 3em;
}

footer{
    height: auto;
}

@media (width <= 600px) {
    
}

#menu-small{
    text-align: center ;
}
#menu-small li:hover{
    background-color: grey;
   }